<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WeChat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../styling/styles.css">
</head>  

<script src="http://vokoshyv.com:8081/socket.io/socket.io.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  var socket = io.connect("vokoshyv.com:8081");

  var sendMessage = function(){
    var message = $('#m').val();
    if (message.length > 0){

      socket.emit('chat', $('#m').val());
      $('#m').val('');
      console.log('message sent');
    }
    return false;
  }

  $(document).keyup(function(ev) {
    if (ev.which === 13) {
      sendMessage();
    }
  }); 

  socket.on('justJoined', function(username){
    $('#messages').append($('<li>').text(username + ' just joined!'))
  })

  socket.on('justLeft', function(username){
    $('#messages').append($('<li>').text(username + ' just left!'))
  })

  socket.on('chat', function(message){
    $('#messages').append($('<li>').text(message.username + ': ' + message.details));
  })
</script>

<body>
  <div>
    <h1>WeChat</h1>
  </div>

  <div>
    <h2>ChatRoom</h2>
  </div>

  <div>
    <form method="link" action="http://vokoshyv.com/wechat/rooms">
    <input type="submit" value="Rooms">
    </form>
  </div>

  <div>
    <form method="post" action="http://vokoshyv.com/wechat/users/logout">
      <input type="submit" value="Logout">
    </form>
  </div>

  <div>
    <ul id="messages">
      {{#each messages}}
      <li>{{this.username}}: {{this.message}}</li>
      {{/each}}
    </ul>
  </div>

  <div>
      <input id="m" autocomplete="off" /><button onclick="sendMessage()" required>Send</button>
  </div>

</body>

</html>
