<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WeChat</title>
</head>  

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  var socket = io();

  var sendMessage = function(){
    var message = $('#m').val();
    if (message.length > 0){
      socket.emit('chat', $('#m').val());
      $('#m').val('');
      console.log('message sent');
    }
    return false;
  }

  $(document).keyup(function(ev) {
   if (ev.which === 13) {
    sendMessage();
   }
}); 
</script>

<body>
  <div>
    <h1>WeChat</h1>
  </div>

  <div>
    <h2>ChatRoom</h2>
  </div>

  <div>
    <ul id="messages">
      {{#each messages}}
      <li>{{this.username}}: {{this.message}}</li>
      {{/each}}
    </ul>
  </div>

  <div>
      <input id="m" autocomplete="off" /><button onclick="sendMessage()" required>Send</button>
  </div>

</body>

</html>