<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WeChat</title>
</head>  

<body>
  <div>
    <h1>WeChat</h1>
  </div>

  <div>
    <h2>ChatRoom etc etc</h2>
  </div>

  <div>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dolor et ducimus asperiores excepturi, non vel deserunt sint rem ipsam, minima illum quas, saepe reiciendis, voluptatibus nulla eius! Quas, ratione.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime dolores animi sint dolor distinctio! Ex, ad officia reiciendis. Iure quam tempore placeat numquam nemo accusantium ipsa molestiae modi vel quos.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias omnis accusamus adipisci dignissimos inventore quam sed mollitia modi qui vero, debitis, nam ipsa, odit ex est a eligendi aliquid sequi.</li>
    </ul>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, saepe rerum! Pariatur sunt numquam rerum, fugit libero repellat quaerat corrupti ipsum officia aut nisi aperiam ut adipisci nihil, repudiandae perspiciatis!</p>
  </div>

</body>

</html>