<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WeChat</title>
</head>  

<body>
  <div>
    <h1>WeChat</h1>
  </div>

  <div>
    <h3>Username</h3>
    <input type="text" name="username" value="">
  </div>

  <div>
    <h3>Password</h3>
    <input type="text" name="password" value="">
  </div>

</body>

</html>