<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WeChat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../styling/styles.css">
</head>  

<body>

  <div class="col-lg-12 col-md-12">
    <h1>WeChat</h1>
  </div>

  <div class="col-md-9 col-sm-11 col-md-offset-3 col-sm-offset-1">
  

  <div>
    <h2>Login</h2>
  </div>

  <div>
    
    <form class="form-inline" action="http://vokoshyv.com/wechat/users/signin" method="post" id="validation">
      

      <div class="form-group">
          <label>Username</label>
            <input type="text" class="form-control" name="username" value="{{username}}" required>
      </div>

      <div class="form-group">
          <label>Password</label>
            <input type="text" class="form-control" name="password" autocomplete="off" style="-webkit-text-security:disc" required>
      </div>

      <div class="form-group">
          <button type="submit" class="btn btn-default" form="validation" value="Submit">Submit</button>
      </div>

    </form>
  </div>
    
    <div>
      <p>{{userNotValid}}{{passwordNotValid}}</p>
    </div>


    <div>
      <form class="form-inline" action="http://vokoshyv.com/wechat/users/signup">
          First time? <button class="btn btn-default btn-xs" type="submit" value="Sign Up!">Sign Up!</button>
      </form>
    </div>
    
  </div>

</body>

</html>
