<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WeChat</title>
</head>  

<body>
  <div>
    <h1>WeChat</h1>
  </div>

  <div>
    <h2>Landing Page</h2>
  </div>

  <form action="http://localhost:3000/wechat/users/signin" method="post" id="validation">

    <div>
      <h3>Username</h3>
      <input type="application/x-www-form-urlencoded" name="username">
    </div>

    <div>
      <h3>Password</h3>
      <input type="application/x-www-form-urlencoded" name="password">
    </div>
    
  </form>

  <button type="submit" form="validation" value="Submit">Submit</button>

</body>

</html>