<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WeChat</title>
</head>  

<body>
  <div>
    <h1>WeChat</h1>
  </div>

  <div>
    <h2>Landing Page</h2>
  </div>

  <form action="http://vokoshyv.com/wechat/users/signin" method="post" id="validation">

    <div>
      <h3>Username</h3>
      <input type="text" name="username" value="{{username}}" required>
    </div>

    <div>
      <h3>Password</h3>
      <input type="text" name="password" autocomplete="off" style="-webkit-text-security:disc" required>
    </div>

  </form>
  
  <div>
    <button type="submit" form="validation" value="Submit">Submit</button>
  </div>

  <div>
    <p>{{userNotValid}}{{passwordNotValid}}</p>
  </div>

  <div>
    <form action="http://vokoshyv.com/wechat/users/signup">
        First time? <input type="submit" value="Sign Up!">
    </form>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, saepe rerum! Pariatur sunt numquam rerum, fugit libero repellat quaerat corrupti ipsum officia aut nisi aperiam ut adipisci nihil, repudiandae perspiciatis!</p>
  </div>

</body>

</html>
