<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WeChat</title>
</head>  

<script></script>

<body>
  <div>
    <h1>WeChat</h1>
  </div>

  <div>
    <form method="post" action="http://localhost:3000/wechat/users/logout">
      <input type="submit" value="Logout">
    </form>
  </div>

  <div>
    <ul>Rooms</ul>
    {{#each usersPerRoom}}
      <li><a href="http://localhost:3000/wechat/rooms/{{@key}}">{{@key}} ({{this}} online)</a></li>
    {{/each}}
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, saepe rerum! Pariatur sunt numquam rerum, fugit libero repellat quaerat corrupti ipsum officia aut nisi aperiam ut adipisci nihil, repudiandae perspiciatis!</p>
  </div>

</body>

</html>