<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WeChat</title>
</head>  

<body>
  <div>
    <h1>WeChat</h1>
  </div>

  <div>
    <h2>Sign in here!</h2>
  </div>

  <form action="http://vokoshyv.com/wechat/users/signin" method="post" id="validation">

    <div>
      <h3>Username</h3>
      <input type="text" name="username">
    </div>

    <div>
      <h3>Password</h3>
      <input type="text" name="password" style="-webkit-text-security:disc">
    </div>
    
  </form>
  
  <div>
    <button type="submit" form="validation" value="Submit">Submit</button>
  </div>

  <div>
    <form action="http://vokoshyv.com/wechat/users/signup">
        First time? <input type="submit" value="Sign Up!">
    </form>
  </div>

</body>

</html>
