<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WeChat</title>
</head>  

<body>
  <div>
    <h1>WeChat</h1>
  </div>

  <div>
    <h2>Sign Up Here!</h2>
  </div>

  <form action="http://localhost:3000/wechat/users/signup" method="post" id="signup">

  <div>
      <h3>Username</h3>
      <p>min 3 characters</p>
      <input type="text" name="username" value="{{username}}" required>
    </div>

    <div>
      <h3>Password</h3>
      <p>min 8 characters</p>
      <input type="text" name="password" autocomplete="off" style="-webkit-text-security:disc" required>
    </div>
    
  </form>
  
  <div>
    <button type="submit" form="signup" value="Submit">Submit</button>
  </div>

  <div>
    <p>{{taken}}{{usernameLength}}{{passwordLength}}</p>
  </div>

</body>

</html>