<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WeChat</title>
</head>  

<body>
  <div>
    <h1>WeChat</h1>
  </div>

  <div>
    <h2>Sign Up Here!</h2>
  </div>

  <form action="http://localhost:3000/wechat/users/signin" method="post" id="validation">

  <div>
      <h3>Username</h3>
      <input type="text" name="username">
    </div>

    <div>
      <h3>Password</h3>
      <input type="text" name="password">
    </div>
    
  </form>
  
  <div>
    <button type="submit" form="validation" value="Submit">Submit</button>
  </div>

</body>

</html>